 body {
    margin: 0;
    padding: 0;
    background-image: url("imagens/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
  }


 #logo {
    max-width: 16vh; /* Largura máxima da imagem da logo */
    height: auto; /* Altura automática para manter a proporção */
    margin-left: auto; /* Margem à esquerda automática para alinhar à direita */
    margin-right: 4vw; /* Margem à direita para afastar um pouco do canto */
}

 #titulo {
    position: absolute;
    left: 2vw; /* Distância da borda esquerda */
    width: 60%; /* Largura da caixa */
    height: 10%; /* Altura da caixa (ajustada para 10%) */
    background-color: #1A213E; /* Cor de fundo da caixa */
    border: 0.7vh solid #2E3552; /* Borda da caixa */
    border-radius: 15vh; /* Bordas arredondadas */
    transform: translate(0, -50%); /* Ajuste para centralizar verticalmente */
    text-align: center;
    z-index: 1; /* Colocar a caixa acima do detalhe */
}

 #titulo h1 {
  font-size: 6vh; /* Tamanho do texto */
  font-weight: bold;
  color: transparent; /* Definir o texto como transparente */
  -webkit-text-stroke: 0.2vh #A6FBAE; /* Cor e espessura do contorno */
  background-clip: text; /* Recortar o texto no contorno */
  letter-spacing: 1vh; /* Espaçamento entre as letras */
  margin-top: 2vh;/* Ajuste o valor negativo para mover o texto para cima */
}


 header {
    background-color: #343A50; /* Cor de fundo do cabeçalho */
    padding: 10px; /* Espaçamento interno do cabeçalho */
    display: flex; /* Exibir elementos em linha */
    align-items: center; /* Alinhar elementos verticalmente */
    justify-content: space-between; /* Espaçamento entre os elementos do cabeçalho */
    border-bottom: 0.7vh solid #A6FBAE; /* Borda fina na parte inferior */
}

#detalhe {
   position: fixed; /* Posicionamento fixo na tela */
   top: 0vw; /* Distância do topo */
   right: 9.9vw; /* Distância da direita */
   width: 90vw; /* Largura desejada para a imagem de detalhe */
   height: 100vh; /* Altura 100% da tela */
   background-image: url("imagens/devulucaoItem/30.png"); /* Imagem de detalhe */
   background-size: cover; /* Tamanho da imagem de detalhe */
}

#detalhe2 {
   position: fixed; 
   bottom:0vw; /* Distância do topo */
   left: 9.9vw;
   width: 90vw; /* Largura desejada para a imagem de detalhe */
   height:100vh; /* Altura 100% da tela */
   background-image: url("imagens/devulucaoItem/31.png"); /* Imagem de detalhe */
   background-size: cover; /* Tamanho da imagem de detalhe */
   z-index: -1; /* Colocar a imagem atrás do conteúdo (z-index negativo) */
}
 h2{
   font-size: 2.5vh;
   color: #A6FBAE;
   margin-top: -1vh;
   margin-bottom: 5vh;
   align-items: center;
}
 .tela-devolucao {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizar verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    width: 91vh;
    height: 45vh;
    background-color: rgba(0, 1, 16, 0.4);
    border-radius: 30px;
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(0, 1, 16);
    margin-top: 12vh; 

}
::placeholder{
   color: #9397A5;
   text-indent: 0.5vw;
}
input{
   width: 57vh;
   height: 3vh; 
   background-color: rgb(255, 255, 255, 0.2); 
   color: white;
   border-radius: 30px; 
   font-weight: bold;
   text-align: left;
   margin: 10px;
   padding: 10px 30px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
 .devolver-button {
   position: fixed;
   bottom: 9vh;
   left: 50%;
   transform: translateX(-50%);
   font-size: 3vh;
   background-color: #7BDC73;
   color: #ffffff;
   padding: 3vh 3vw;
   border: none;
   border-radius: 11.7vh;
   cursor: pointer;
   text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 2);
   transition: background-color 0.3s ease;
   box-shadow: 0 1.5vh 1vh rgba(0, 0, 0, 0.3);
   letter-spacing: 0.2vh;
}

 .devolver-button:hover {
   background-color: #9BE49E;
}
 .devolver-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar horizontalmente */
    justify-content: center; /* Centralizar verticalmente */
    margin-top: 20px; /* Espaçamento superior entre a div e o botão */
}
/* Estilos para o menu */
#menu {
   display: none;
   flex-direction: column;
   position: fixed;
   top: 10vh;
   right: 0vh;
   bottom: 0;
   width: 40vh;
   background-color: #343A50;
   border-radius: 2vh;
   box-shadow: 0 0.3vh 0.6vh rgba(0, 0, 0, 0.2);
   padding: 1.5vh;
   z-index: 2;
}

#menu.active {
   display: flex;
   justify-content: top;
   align-items: center;
   font-size: 2.5vh; /* Alinhe os links verticalmente ao centro */
}

#menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 11vh;
  margin-top: 8vh;
  align-items: center;
  margin-right: 2vw;
}

#menu-list a {
  text-decoration: none;
  color: #A6FBAE;
  font-weight: bold;
}

#menu-alterar {
   display: flex;
   flex-direction: column;
   cursor: pointer;
}

.barra {
  width: 4vh;
  height: 0.5vh;
  background-color: #fff;
  margin: 0.5vh 0;
  margin-right: 3vw;
  border-radius: 0.5vh;
}

